.Shopcategory-banner{
     display: block;
     margin: 30px auto;
     width: 82%;
}
.Shopcategory-indexSort {
     display: flex;
     margin: 0px  170px;
     justify-content: space-between;
     align-items: center;
}
.Shopcategory-sort{
     display: 10px  20px;
     border-radius: 40px;
     border: 1px #888;
}
.Shopcategory-products {
     margin: 20px  170px;
     display: girdl;
     girld-template-columns:  1fr 1fr 1fr 1fr;
     row-gap: 80px;
}
.Shopcategory-loadmore{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 150px auto;
     width: 233px;
     height: 69px;
     boder-radius: 75px;
     backgroud: #ededed;
     color: #787878;
     font-size: 18px;
     font-weight: 500;
     
